default_language_version:
  python: "python3.10"


repos:

  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.5.0"
    hooks:
      - id: "check-added-large-files"
      - id: "check-vcs-permalinks"
      - id: "end-of-file-fixer"

  - repo: "https://github.com/charliermarsh/ruff-pre-commit"
    rev: "v0.1.3"
    hooks:
      - id: "ruff"
        # NOTE: "--exit-non-zero-on-fix" is important for CI to function
        # correctly!
        args: ["--fix", "--exit-non-zero-on-fix", "--verbose"]

  - repo: "https://github.com/psf/black"
    rev: "23.10.1"
    hooks:
      - id: "black"

  - repo: "https://github.com/jendrikseipp/vulture"
    rev: "v2.10"
    hooks:
      - id: "vulture"
